.result {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fec89a;
}

.period-date {
    background-color: #FF0000;
}

.ovulation-date {
    background-color:#FF1493;
}

.fertile-date {
    background-color: #8B008B;
    font-weight: 500;
}
